.layout_container {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-bottom: 6rem;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 25rem !important;
}

.layout_container input {
  padding-left: 8px;
}

.logoTutor {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoTutor img {
  width: 40%;
}

.headerPass {
  color: #1E1E1E !important;
  font-family: Poppins !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.5px !important;
}

.remind {
  color: #989898 !important;
  font-family: Inter !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  text-align: center !important;
  line-height: normal !important;
}