/* src/App.module.css */
.container {
    padding: 20px;
}

.topSection {
    margin-bottom: 20px;
}

.topImage {
    width: 100%;
    /* Makes the image responsive */
    max-width: 300px;
    /* Controls the max width for larger screens */
    display: block;
    margin: auto;
}

.premiumTitle {
    color: #388e3c;
    /* Green title color */
    font-weight: bold;
}

.premiumDescription {
    color: #333;
    margin-top: 10px;
}

.testingTitle {
    text-align: center;
    color: #f44336;
    /* Red color for "TESTING" */
    font-weight: bold;
    margin: 30px 0;
}

/* Test Card styles */
.testGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.testCard {
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 10px;
}

.testButton {
    margin-top: 10px;
}

.solutionButton {
    margin-top: 5px;
}

/* Scoreboard styles */
.scoreTableContainer {
    margin-top: 30px;
    width: 98% !important;
}

.refreshButton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}