.questionsWrapper {
  padding: 1rem;
  padding-bottom: 50px;
}

.container_video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  width: clamp(300px, 80%, 100rem);
  padding: 3rem;
  border-radius: 56px;
  background: #53AC89;
  box-shadow: 7px 7px 7.5px 0px rgba(0, 0, 0, 0.25) inset;
}

.video {
  width: 100%;
  border-radius: 25px;
  aspect-ratio: 16/9;
}