/* .header {
  background-color: #f2f2f2 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  padding: 1rem 3rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
} */

.headerContainer {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  background-color: #ffF !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  max-height: 100px;
  max-width: 200px;
}

.timer {
  font-weight: bold;
  color: black;
  position: absolute;
  width: max-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  gap: 3px;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  gap: 2.5rem;
  margin-left: auto;
  align-items: center;
}

.exitTest {
  color: #fff !important;
  background-color: #e74c3c !important; /* Màu đỏ */
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(231, 76, 60, 0.4); /* Đổ bóng nhẹ */
}

.exitTest:hover {
  background-color: #c0392b !important; /* Màu đậm hơn khi hover */
  transform: scale(1.05); /* Tăng kích thước nhẹ khi hover */
}

.submit {
  color: #fff !important;
  background-color: #2db164 !important; /* Màu xanh */
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(46, 204, 113, 0.4); /* Đổ bóng nhẹ */
}

.submit:hover {
  background-color: #27ae60 !important; /* Màu đậm hơn khi hover */
  transform: scale(1.05); /* Tăng kích thước nhẹ khi hover */
}

.exitTest:active, .submit:active {
  transform: scale(0.95); /* Hiệu ứng nhấn xuống */
  box-shadow: none; /* Bỏ đổ bóng khi nhấn */
}
